:root {
    --primary-color: darksalmon;
    --secondary-color: blue;
    
}

body {
  background-color: darksalmon;
  color: var(--secondary-color);
}

h2 {
  text-align: center;
  color: crimson;
}

.container {
  width: 50%;
  margin: auto;
}
.privacy {
  display: flex;
  background-color: blue;
  color: white;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  font-size: larger;
}
#cross-btn {
  position: absolute;
  right: 25.5%;
  top: 9%;
  font-weight: lighter;
  border: none;
}


input, label {
    display: block;
}
input {
  width: 100%;
  margin-bottom: 1rem;
  font-size: larger;
}
label {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0.5rem;
}

button {
    display: block;
    margin-top: 0.5rem;
    margin: auto;
    background: transparent;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 0.2rem;
    font-weight: bold;
    font-size: larger;

}

#output {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: darkred;
  font-weight: bolder;
  font-size: xx-large;
  background-color: lightskyblue;
  
}
.image {
  overflow: hidden;
  object-fit: cover;
}

.imgHappy {
    width: 80%;
    height: 150px;
    display: none;
    position: absolute;
    right: 40px;
    overflow: scroll;
    
}
.imgSad {
    width: auto;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    margin-bottom: 2rem;
}


.footer a {
    text-decoration: none;
    display: block;
    padding: 1.2rem;
    font-size: 1.4rem;
    color: black;
  }
  
  footer {
    position: absolute;
    bottom: 0.3rem;
    width: 99%;
    box-shadow: 0px 0px 5px 2px var(--secondary-color);
    padding: 0 0 0.5rem;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .legacy {
    
    font-size: 1rem;
    text-align: center;
    color: black;
  }

  